body {
	margin: 0;
	padding: 0;
	background: url(img/ci.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Arial;
}

.nomsEvents{
	
	background-color: #f2f2f2;
	border-style: solid;
	font-size: 200%;
	overflow: hidden;
	margin: 30px 30px 30px 30px;
	color: #0C090A;
	width: 30%;
	position: relative;
	float: left;
	
}
#classement {
	background: rgba(230, 230, 230, .9);
	border-style: solid;
	margin: 20px;
}

.logo {
	opacity: 0.75;
	width: 200px;
	height: 36px;
	right: 10px;
	bottom: 10px;
	position: right;
}

#menu {

	background-color: #000000;
	width: 100%;
	opacity: 0.8;
	position: initial;
}

#defis {
	
}

.defi {

	background: rgba(230, 230, 230, .9);
	border-style: solid;
	margin: 20px;
}

.pasvis{
	display: none;
}

.pointPasVis{
	display: none;
}


.visible {
 height: 200px;
 position: relative;
   -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
	
}


.imgTrail {

	max-width: 199px;
	max-height: 199px;
	position: relative;
	float: left;

	
	
	

}

h3 {
	position: relative;
	float: left;



}

.Equipe {
	position: relative;
	float: left;




}
li {
	display: inline;
}

.cat {
	position: relative;
	float: left;



}


.showHide{
	
	float:right;


	
}
.icon {
	position: relative;
	float: left;
	max-width: 50px;
	max-height: 50px



}

.media {

	max-width: 300px;
	max-height: 300px
}

video {
	width: 694px;
	height: 390px;
}
h1 {

	color: #FFFFFF;
	text-transform: uppercase;
}
